body{
    background-color:aquamarine;
    display: grid;
    overflow: auto;
    min-height: 100vh;
    grid-template-rows: 10% 88%;
    box-sizing: border-box;
    
    grid-template-areas:
        "header"
        "main";
    margin: 0px;
    padding: 5px 5px 0px 5px;
    
}
@font-face {
    font-family: blow;
    src: url("./fonts/blowbrush.otf");
}
#header{
    grid-area: header;
    width: auto;
    background-color: rgb(107, 236, 193);  
    margin-bottom: 3px;
    font-family: blow;
    color: darkgoldenrod;
    font-size: xxx-large;
}
#main{
    grid-area: main;
    background-color: azure;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    gap: 3px;
    
}
#footer{
    position: fixed;
    margin: 0px;
    padding: 5px 5px 0px 5px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 20px;
    
    display: grid;
    
    justify-content: center;
    align-items: center;
}
#ftr-content{
    width: 250px;
    background: grey;
    text-align: center;
}
#left-nav{
    border: 1px solid aquamarine;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 6em auto;
    grid-template-columns: auto;
    gap:3px;
}
#main-content{
    border: 1px solid aquamarine;
    border-radius: calc(0.5 * 30px);
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    grid-template-rows: auto;
    gap: 5px;
    padding: 10px;
}
.btnAdd{
    display: block;
    margin-top: 3rem;
    width: 90px;
    min-width: fit-content;
    max-width: 90px;
    margin-left: auto;
    margin-right: auto;
}
.card{
    height: fit-content;
    background-color: rgb(190, 224, 190);
    border: 1px solid rgb(17, 187, 17);
    border-radius: calc(0.5 * 30px);
    margin: 5px;
    padding: 10px 5px;
    text-align: center;
}
.card .notread{
    background-color: gray;
}
@font-face {
    font-family: face;
    src: url("./fonts/GreatVibes-Regular.ttf");
}
.title{
    font-family: face, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    font-weight: bold;
    color:darkgoldenrod;
}
.author{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
 
  .slider {
    width: 50px;
  }
  
  .btnDel{
    display: block;
    margin-left: auto;
  }
  .no-label {
    color: red;
  }
  
  .yes-label {
    color: green;
  }
  .stats{
    justify-content: center;
    align-items: center;
  }
  table{
    min-width: fit-content;
    max-width: 300px;
    width: 225px;
  }
  table, tr, td{
    border: 1px solid brown;
  }
  th{
    text-align: center;
    font-weight: bold;
  }




  /* CSS for the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

/* Additional styling for the form */
#myForm {
  display: flex;
  flex-direction: column;
}

#myForm input, #myForm button {
  margin-bottom: 10px;
}